@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Text+Me+One&family=Trade+Winds&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --spring: cubic-bezier(0.47, 1.74, 0.41, 0.8);
  --textN: #fff;
  --lineorx: #ffffff10;
  --folderBG: url("https://cdn.svgator.com/images/2022/06/use-svg-as-background-image-particle-strokes.svg");
  --navBarBG: transparent;
  --linksBG: #ffffff00;
  --iconGlint: repeating-conic-gradient(transparent, #ffffff20 20%);
  --bgFILTER: blur(10px);
}

html {
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100svh;
  background: var(--folderBG);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden !important;
}

body>.creatorMark {
  display:none;
}

body>.mainContainer {
  border: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.mainContainer>.folders {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 800ms ease, transform-origin 0s ease 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  background: none;
  color: white;
  border: none;
  flex-shrink: 0;
  opacity: 0%;
  transform: scale(0) scaleY(1) skew(20deg);
  transform-origin: top;
  pointer-events: none;
  -webkit-pointer-events: none;
}

.mainContainer>.folders.on {
  opacity: 100%;
  transform: none;
  transform-origin: bottom;
  z-index: 1;
  pointer-events: auto;
  -webkit-pointer-events: auto;
}

.mainContainer>.folders>a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 600px;
  background: none;
  padding: 5px;
  margin: 5px 0px;
  text-decoration: none;
  color: var(--textN);
  border-radius: 100px;
  overflow: hidden;
  -webkit-backdrop-filter: var(--bgFILTER);
  backdrop-filter: var(--bgFILTER);
  border: 2px solid #ffffff30;
}

.mainContainer>.folders>a::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: var(--linksBG);
  opacity: 70%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.mainContainer>.folders>a>.iconx {
  height: 25px;
  width: 25px;
  margin-right: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: none;
  padding: 2px;
  background: none;
}

.mainContainer>.folders>a>.iconx>i {
  transform: scale(90%);
}
.mainContainer>.folders>a>.tagmark{
  color: aqua;
  font-size:8px;
  position: absolute;
  top:0;
  right:5%;
  background: #ffffff30;
  padding:1px 5px;
  border-radius: 0px 0px 4px 4px;
  font-family: 'Ubuntu';
}

/* NAV-BAR */

body>.navBar {
  border: none;
  background: var(--navBarBG);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  opacity: 100%;
  border-radius: 5px 5px 0px 0px;
}

.navBar>span.icon {
  position: relative;
  bottom: 0;
  height: 100%;
  aspect-ratio: 1/1;
  background: none;
  color: var(--textN);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  transition: all 0.4s;
}

.navBar>span.icon * {
  pointer-events: none;
}

.navBar>span.icon>.iconName {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0%;
  font-size: 10px;
  opacity: 0%;
  transition: all 1s ease 0ms, font-size 0s;
}

.navBar>span.on>.iconName {
  transition: all 600ms ease 300ms, font-size 0s;
  opacity: 100%;
  top: -80%;
}

.navBar>span.icon>.navSpanBG {
  pointer-events: none;
  position: absolute;
  width: 0%;
  aspect-ratio: 1/1;
  background: var(--iconGlint);
  box-shadow: inset 0px 0px 0px 1px var(--lineorx);
  border-radius: 50%;
  transition: all 0.5s;
  animation: rotnavSpanBG 3s linear 0s infinite;
  opacity: 0%;
}

.navBar>span.on>.navSpanBG {
  width: 130%;
  opacity: 100%;
}

@keyframes rotnavSpanBG {
  100% {
    transform: rotate(360deg);
  }
}

.navBar>span.on {
  position: relative;
  bottom: 10px;
  height: 100%;
  border-radius: 50%;
  background: var(--navBarBG);
  font-size: 120%;
  box-shadow: 0px 0px 0px 15px var(--navBarBG);
}

.navBar>span.on::before,
.navBar>span.on::after {
  position: absolute;
  content: '';
  bottom: 86%;
  left: -73%;
  background: radial-gradient(ellipse at 0% 0%, transparent 70%, var(--navBarBG) 70%);
  width: 50%;
  height: 6px;
}

.navBar>span.on::after {
  left: auto;
  right: -74%;
  background: radial-gradient(ellipse at 90% 0, transparent 70%, var(--navBarBG) 70%);
}

.navBar>span>i {
  position: relative;
  pointer-events: none;
  -webkit-pointer-events: none;
  opacity: 50%;
  z-index: 1;
  transition: opacity 500ms;
}

.navBar>span.on>i {
  opacity: 100%;
}

.discr{
  margin-top: 20px;
  color: #ffffffa1;
  padding: 5px;
  width: 90%;
  text-align: center;
}